# Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/

# Virtual environments (на всяк випадок)
.venv/
venv/
env/

# Otter
*.OTTER_LOG
.otter/

# OS / редактори
.DS_Store
Thumbs.db
*.swp
*~

# VS Code / Codespaces (рідко, але буває)
.vscode/
*.code-workspace

.env